<!-- IMAGES Style -->
<h2 class="weight-800 f-typoslab image-pos">IMAGE</h2>
<h3 class="weight-800 f-typoslab mbottom-1">Image Shapes</h3>
<p>
	Tambahkan class sesuai dengan pilihan gaya pada tag <code>&lt;img&gt;</code> agar mempermudah Anda dalam melakukan styling.
</p>
<div class="block-example">
	<%= image_tag('default-img.svg', class: "thumbnail-img small-img mright-1") %>
	<%= image_tag('default-img.svg', class: "rounded-img small-img mright-1") %>
	<%= image_tag('default-img.svg', class: "circle-img small-img") %>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<h3 class="weight-800 f-typoslab mbottom-1">Image Sizes</h3>
<p>
	Tambahkan class <code>.small-img</code> / <code>.medium-img</code> / <code>.large-img</code> ke dalam tag <code>&lt;img&gt;</code>.
</p>
<div class="block-example">
	<%= image_tag('default-img.svg', class: "thumbnail-img large-img mright-1") %>
	<%= image_tag('default-img.svg', class: "thumbnail-img medium-img mright-1") %>
	<%= image_tag('default-img.svg', class: "thumbnail-img small-img") %>
</div>
<div class="html-example">
	<pre>
		<code class="html mtop-2">

		</code>
	</pre>
</div>

<div class="gp-r">
    <div class="horizontal-line-1"></div>
</div>