<section class="head-intro">
	<div class="container">
    	<div class="gp-r">
    		<div class="gp-c4 txt-white">
    			<h1 class="weight-800 f-typoslab font-50 mbottom-2">Javascript Documentations</h1>
    			<h4 class="opa-8">Global javascript and jQuery plugin. Galss provide Javascript and jQuery plugin make easy and simple to build your projects</h4>
    		</div>
    	</div>
    </div>
</section>

<section class="grid-system ptop-4 pbottom-4">
	<div class="container start-doc">
		<div class="gp-r">
			<!-- Side menu -->
			<div class="gp-ce-4 gp-xsmall-c6">
				<div class="gp-r">
    				<div class="gp-c6">
    					<nav class="navi-bar navi-bar-white vertical-menu">
	        				<ul class="navi navi-menu unstyle-list">
	        					<li>
                                    <a href="javascript:void()" class="a-menu overview"><i class="fa fa-caret-right"></i> Overview</a>
	        					</li>
                                <li>
                                    <a href="javascript:void()" class="a-menu drop-down"><i class="fa fa-caret-right"></i> Dropdown</a>
                                </li>
                                <li>
                                    <a href="javascript:void()" class="a-menu modal"><i class="fa fa-caret-right"></i> Modal</a>
                                    <ul class="unstyle-list pleft-2">
                                        <li><a href="#example" class="example-opt"><i class="fa fa-angle-right"></i> Examples</a></li>
                                        <li><a href="#modal-size" class="modalsize-opt"><i class="fa fa-angle-right"></i> Sizes</a></li>
                                        <li><a href="#modal-effect" class="modaleffect-opt"><i class="fa fa-angle-right"></i> Effects</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void()" class="a-menu landing"><i class="fa fa-caret-right"></i> Landing</a>
                                </li>
                                <li>
                                    <a href="javascript:void()" class="a-menu tab"><i class="fa fa-caret-right"></i> Tab</a>
                                </li>
                                <li>
                                    <a href="javascript:void()" class="a-menu tooltip"><i class="fa fa-caret-right"></i> Tooltip</a>
                                    <ul class="unstyle-list pleft-2">
                                        <li><a href="#default-tooltip" class="default-tooltip-opt"><i class="fa fa-angle-right"></i> Standard</a></li>
                                        <li><a href="#popover-tooltip" class="popover-tooltip-opt"><i class="fa fa-angle-right"></i> Popover</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void()" class="a-menu accordion"><i class="fa fa-caret-right"></i> Accordion</a>
                                </li>
                                <li>
                                    <a href="javascript:void()" class="a-menu slider"><i class="fa fa-caret-right"></i> Slider</a>
                                </li>
	        				</ul>
	        			</nav>
        			</div>
        		</div>
			</div>
			<!-- End of Side menu -->
			<div class="gp-ce-4 mix-3 gp-xsmall-c6">
				<h3><em>Still inProgress ........</em></h3>
				<!-- OVERVIEW -->
				<h2 class="weight-800 f-typoslab overview-pos">OVERVIEW</h2>
				<p>
                    Plugin dapat Anda tambahkan secara manual pada tag <code>&lt;head&gt;</code>. Gunakan file <code>galss.min.js</code> untuk menggunakan minified javascript plugin atau menggunakan file <code>galss.js</code> untuk dapat dengan mudah meng-kostum plugin.
                </p>
                <div class="html-example block-example">
                    <pre>
                        <code class="html">
                            <span class="nt">&lt;script </span> <span class="na">src=</span><span class="s">"scripts/galss.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
                        </code>
                    </pre>
                </div>

				<div class="gp-r">
					<div class="horizontal-line-1"></div>
				</div>

                <%= render "jsdropdown" %>
                <%= render "jsmodal" %>
                <%= render "jslanding" %>
                <%= render "jstab" %>
                <%= render "jstooltip" %>
                <%= render "jsaccordion" %>
                <%= render "jsslider" %>

            </div>
		</div>
	</div>
</section>