<section class="head-intro">
	<div class="container">
    	<div class="gp-r">
    		<div class="gp-c4 txt-white">
    			<h1 class="weight-800 f-typoslab font-50 mbottom-2">Stylesheet Documentations</h1>
    			<h4 class="opa-8">Global stylesheet layout settings and HTML elements styled with simple CSS classes. Simplify the Grid system</h4>
    		</div>
    	</div>
    </div>
</section>

<section class="grid-system ptop-4 pbottom-4">
	<div class="container start-doc">
		<div class="gp-r">
			<!-- Side menu -->
			<div class="gp-ce-4 gp-xsmall-c6">
				<div class="gp-r">
    				<div class="gp-c6">
    					<nav class="navi-bar navi-bar-white vertical-menu">
	        				<ul class="navi navi-menu unstyle-list">
	        					<li>
                                    <a href="javascript:void()" class="a-menu overview"><i class="fa fa-caret-right"></i> Overview</a>
	        						<ul class="unstyle-list pleft-2">
	        							<li><a href="#html5" class="html5-opt"><i class="fa fa-angle-right"></i> HTML5</a></li>
	        							<li><a href="#cssreset" class="css-reset"><i class="fa fa-angle-right"></i> CSS Reset</a></li>
	        							<li><a href="#mobile" class="mobile-opt"><i class="fa fa-angle-right"></i> Mobile</a></li>
	        							<li><a href="#container" class="container-opt"><i class="fa fa-angle-right"></i> Containers</a></li>
	        						</ul>
	        					</li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu grid-sys"><i class="fa fa-caret-right"></i> Grid System</a>
                                    <ul class="unstyle-list pleft-2">
                                        <li><a href="#grid-options" class="grid-opt"><i class="fa fa-angle-right"></i> Grid Options</a></li>
                                        <li><a href="#default-column" class="default-col"><i class="fa fa-angle-right"></i> Default column</a></li>
                                        <li><a href="#centered-column" class="centered-col"><i class="fa fa-angle-right"></i> Centered column</a></li>
                                        <li><a href="#exploded-column" class="exploded-col"><i class="fa fa-angle-right"></i> Exploded column</a></li>
                                        <li><a href="#exploded-mix-column" class="exploded-mix-col"><i class="fa fa-angle-right"></i> Exploded & mixins column</a></li>
                                        <li><a href="#responsive" class="responsive-col"><i class="fa fa-angle-right"></i> Responsive column</a></li>
                                        <!--<li><a href="#nesting-column" class="nesting-col"><i class="fa fa-angle-right"></i> Nesting column</a></li>-->
                                    </ul>
                                </li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu typo-opt"><i class="fa fa-caret-right"></i> Typography</a>
                                    <ul class="unstyle-list pleft-2">
                                        <li><a href="#headings" class="typo-headings"><i class="fa fa-angle-right"></i> Headings</a></li>
                                        <li><a href="#body" class="typo-body"><i class="fa fa-angle-right"></i> Body</a></li>
                                        <li><a href="#fontface" class="typo-fontface"><i class="fa fa-angle-right"></i> Fonts Face</a></li>
                                        <li><a href="#alignment" class="typo-align"><i class="fa fa-angle-right"></i> Alignment</a></li>
                                        <li><a href="#transformation" class="typo-transform"><i class="fa fa-angle-right"></i> Transformation</a></li>
                                        <li><a href="#lists" class="typo-lists"><i class="fa fa-angle-right"></i> Lists</a></li>
                                        <li><a href="#blockquotes" class="typo-bquotes"><i class="fa fa-angle-right"></i> Blockquotes</a></li>
                                    </ul>
                                </li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu color-opt"><i class="fa fa-caret-right"></i> Colors</a>
	        						<ul class="unstyle-list pleft-2">
	        							<li><a href="#bg-color" class="bg-color"><i class="fa fa-angle-right"></i> Background Colors</a></li>
	        							<li><a href="#txt-color" class="txt-color"><i class="fa fa-angle-right"></i> Text Colors</a></li>
	        						</ul>
	        					</li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu table-opt"><i class="fa fa-caret-right"></i> Tables</a>
	        						<ul class="unstyle-list pleft-2">
	        							<li><a href="#basic-tables" class="basictables"><i class="fa fa-angle-right"></i> Basic Tables</a></li>
	        							<li><a href="#even-rows" class="evenrows"><i class="fa fa-angle-right"></i> Even Rows</a></li>
	        							<li><a href="#odd-rows" class="oddrows"><i class="fa fa-angle-right"></i> Odd Rows</a></li>
                                        <li><a href="#table-border" class="tableborder"><i class="fa fa-angle-right"></i> Table Border</a></li>
                                        <li><a href="#hovered-rows" class="hoveredrows"><i class="fa fa-angle-right"></i> Hovered Rows</a></li>
	        							<li><a href="#responsive-table" class="responsivetable"><i class="fa fa-angle-right"></i> Responsive Tables</a></li>
	        						</ul>
	        					</li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu form-opt"><i class="fa fa-caret-right"></i> Forms</a>
                                    <ul class="unstyle-list pleft-2">
                                        <li><a href="#default-form" class="defaultform"><i class="fa fa-angle-right"></i> Default Form</a></li>
                                        <li><a href="#horizontal-form" class="horizontalform"><i class="fa fa-angle-right"></i> Horizontal Form</a></li>
                                        <li><a href="#inline-form" class="inlineform"><i class="fa fa-angle-right"></i> Inline Form</a></li>
                                    </ul>
                                </li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu button-opt"><i class="fa fa-caret-right"></i> Buttons</a>
                                </li> 
	        					<li>
                                    <a href="javascript:void()" class="a-menu image-opt"><i class="fa fa-caret-right"></i> Images</a>
                                </li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu"><i class="fa fa-caret-right"></i> Helper</a>
                                </li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu"><i class="fa fa-caret-right"></i> Margin System</a>
                                </li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu"><i class="fa fa-caret-right"></i> Padding System</a>
                                </li>
	        					<li>
                                    <a href="javascript:void()" class="a-menu"><i class="fa fa-caret-right"></i> Border</a>
                                </li>
	        				</ul>
	        			</nav>
        			</div>
        		</div>
			</div>
			<!-- End of Side menu -->
			<div class="gp-ce-4 mix-3 gp-xsmall-c6">
				<h3><em>Still inProgress ........</em></h3>
				<!-- OVERVIEW -->
				<h2 class="weight-800 f-typoslab overview-pos">OVERVIEW</h2>
				<h4 class="mbottom-1">
					Ease to write HTML and simplify stylesheet layout. Simpler, better, faster, structured and very easy to use. You can use default setting to build your site faster or you can customize your own settings ...
				</h4>
				<div class="gp-r">
					<div class="horizontal-line-1"></div>
				</div>

				<h3 class="weight-800 f-typoslab mbottom-1 html5-pos">HTML5</h3>
				<p>
					Galss menggunakan elemen HTML untuk membuat CSS property yang memerlukan penulisan DOCTYPE HTML5 pada setiap proyek yang akan anda buat.
				</p>
                <!-- HTML Used -->
                <p class="mtop-1">You can use the HTML code as following:</p>
                <div class="html-example block-example">
                    <pre>
                        <code class="html">
                            <span class="opa-6">&lt;!DOCTYPE html></span>
                            <span class="nt">&lt;html </span> <span class="na">lang=</span><span class="s">"en"</span><span class="nt">&gt;</span>
                                <span class="mleft-2">.......</span>
                            <span class="nt">&lt;/html></span>
                        </code>
                    </pre>
                </div>
                <!-- End of HTML used -->

				<h3 class="weight-800 f-typoslab mbottom-1 css-reset-pos">CSS Reset and Normalize.css</h3>
				<p>
					Semua property CSS pada Galss sudah mengikuti pengaturan default dari Galss, tidak perlu memasukan CSS reset pada proyek anda. Untuk meningkatkan rendering pada cross-browser, Galss menggunakan <a href="http://necolas.github.io/normalize.css/" target+"_blank">Normalize.css</a>.
				</p>

				<h3 class="weight-800 f-typoslab mbottom-1 mobile-pos">Mobile</h3>
				<p>
					Untuk memastikan bahwa tampilan pada proyek anda dapat bekerja pada device mobile, hanya menambahkan <strong>meta tag viewport</strong> pada bagian <code>&lt;head&gt;</code> Anda.
				</p>
                <!-- HTML Used -->
                <div class="html-example block-example">
                    <pre>
                        <code class="html">
                            <span class="nt">&lt;head&gt;</span>
                                <span class="mleft-2">.......</span>
                                <span class="nt mleft-2">&lt;meta </span><span class="na">name=</span><span class="s">"viewport" </span> <span class="na">content=</span><span class="s">"width=device-width, initial-scale=1"</span><span class="nt">&gt;</span>
                                <span class="mleft-2">.......</span>
                            <span class="nt">&lt;/head&gt;</span>
                        </code>
                    </pre>
                </div>
                <!-- End of HTML used -->

				<h3 class="weight-800 f-typoslab mbottom-1 container-pos">Containers</h3>
				<p>
					Container pada Galss digunakan sebagai wrapper konten atau box untuk beberapa elemen HTML dan CSS class. Anda disarankan untuk menggunakan <code>container</code> class sebagai pembungkus penulisan elemen HTML dan CSS class.
				</p>
                <!-- HTML Used -->
                <p>Use <code>.container</code> class for a responsive fixed width container</p>
                <div class="html-example block-example">
                    <pre>
                        <code class="html">
                            <span class="nt">&lt;div </span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
                                <span class="mleft-2">.......</span>
                            <span class="nt">&lt;/div&gt;</span>
                        </code>
                    </pre>
                </div>
                <!-- End of HTML used -->

				<div class="gp-r">
					<div class="horizontal-line-1"></div>
				</div>

                <%= render "grid" %>
                <%= render "typo" %>
                <%= render "color" %>
                <%= render "table" %>
                <%= render "form" %>
                <%= render "button" %>
                <%= render "image" %>
                <%= render "helper" %>
                <%= render "margin" %>
                <%= render "padding" %>
                <%= render "border" %>

            </div>
		</div>
	</div>
</section>