<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Galss :: Simpler, better, faster, structured and very easy to use</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" %>
	<%= csrf_meta_tags %>
</head>
<body onload="hide_preloader()">
	<!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader">
		<div>
			<%= image_tag('preloader_9.gif', id: "preloader_image") %>
			loading...
		</div>
	</div><!-- #preloader -->

	<div class="backtop">
		<p>Top</p>
		<i class="backtop-ico"> </i>
	</div>
    
    <%= render "layouts/header" %>

<%= yield %>

	<%= render "layouts/footer" %>

	<script type="text/javascript">
		//Preloader
		rotate = 1;
		function hide_preloader() { //DOM
			rotate = 0;
			$('#preloader').fadeOut(1000);
		}
		$(document).ready(function(){
			// calculate height 
			var screen_ht = $(window).height();
			var preloader_ht = 128;
			var padding =(screen_ht/2)-preloader_ht;
			
			$('#preloader').css('padding-top',padding+'px');
			
			// loading animation using script
			function anim(){ $('#preloader_image').animate({left:'0px'}, 8000,
				function(){ 
					$('#preloader_image').animate({left:'0px'}, 5000 ); 
					if(rotate==1){ 
						anim();
					}  
				});
			}
			anim();
		});
    </script>
</body>
</html>
